#clockBox{
    width: 300px;
    position: relative;
    margin: 50px auto;
    height: 300px;
    background-color: antiquewhite;
}
#clockCanvas{
    position:absolute;
    top:0px;
    left:0px;
}
#p_canvas{
    position:absolute;
    top:0px;
    left:0px;
}