#clockBox{
    width: 200px;
    position: relative;
    margin: 50px auto;
    height: 200px;
    border-radius:100px;

}
#clockCanvas{
    position:absolute;
    top:0px;
    left:0px;
}
#p_canvas{
    position:absolute;
    top:0px;
    left:0px;
}